.footer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer span {
  /* color: rgb(100, 100, 100); */
  font-size: 1rem;
}

.footer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--purple-color-hard);
}

@media screen and (max-width: 399px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2rem;
    width: 88%;
  }
}

