.fontContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.fontHeading {
  display: inline-flex;
  justify-content: end;
  box-sizing: border-box;
  width: 100px;
  font-size: 1.2rem;
  cursor: pointer;
}

.fontList {
  display: none;
  position: absolute;
  justify-content: space-evenly;
  z-index: 9999;
  width: 180px;
  background-color: var(--background-color);
  gap: 6px;
  top: 23px;
  left: 0;
  padding-left: 0;
  padding: 10px 8px;
  font-size: 1rem;
  border-radius: 5%;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.fontList li {
  list-style: none;
  cursor: pointer;
  padding: 4px 0;
}

.fontList li:hover {
  color:#BA9BCC;
}

.fontContainer:hover > .fontList {
  display: flex;
}