.header {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 3rem;
}

.headerContent {
  display: flex;
  justify-content: space-between;
}

.fontToggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.fontArrow {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: .5rem;
}

.fontArrow svg {
  color: var(--purple-color-hard);
}

.toggleMoon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.searchContainer {
  display: flex;
  position: relative;
}

.searchContainer input {
  padding: 1rem 0 1rem 1rem;
  width: 100%;
  border-radius: .6rem;
  border: none;
  background-color: #d9d9d9;
  font-size: .9rem;
  font-weight: 600;
}

.searchContainer input:focus {
  outline: none;
  background-color: white;
}

.searchContainer button {
  display: block;
  position: absolute;
  background: none;
  border: none;
  top: .8rem;
  right: .8rem;
  cursor: pointer;
}