.section {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dictionaryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.keyboardAndSpan {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: .5rem;
}

.keyboardAndSpan h1 {
  font-size: 3.5rem;
}

.keyboardAndSpan span {
  color: var(--purple-color-medium);
  font-size: 1.25rem;
}

.playButton {
  color: var(--purple-color-hard);
  background-color: var(--purple-color-soft);
  border: none;
  padding: 1.5rem;
  border-radius: 100%;
}

.dictionaryDivider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dictionaryDivider strong {
  font-size: 1.19rem;
  font-style: italic;
}

.dictionaryBody {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.meaning {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.meaning h2{
  color: rgb(100,100,100);
  font-weight: 300;
  font-size: 1.2rem;
}

.meaning ul {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  gap: 1.2rem;
}

.meaning ul > li {
  list-style-image: url('../assets/images/circle.svg');
  padding-left: 1rem;
  font-size: 1.16rem;
}

.synonyms {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.synonyms h2{
  color: rgb(100,100,100);
  font-weight: 300;
  font-size: 1.2rem;
}

/* .meaning ul > li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 1.5rem;
  border-radius: 50%;
  background-color: green;
} */