.main {
  margin: 0 auto;
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.dark {
  background-color: rgb(15 23 42);
  color: white;
  transition: background-color .3s ease-out;
}

:not(dark) {
  transition: background-color .3s ease-out;
}