:root {
  --background-color: #a9a9a9;
  --purple-color-hard: #A546F1;
  --purple-color-medium: #9851CB;
  --purple-color-soft: #B596CD;
  --platinum-color-soft: #DDDDDD;
}

* {
  margin: 0;
}

body {
  background-color: var(--background-color);
}

/* @media (prefers-color-scheme: light) {
  body {
    background-color: rgb(15 23 42);
    color:white;
  }
} */