.dictionaryDivider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: currentColor;
}

.dictionaryDivider strong {
  font-size: 1.19rem;
  font-style: italic;
  margin-right: .7rem;
}