.dictionaryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.keyboardAndSpan {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: .5rem;
}

.keyboardAndSpan h1 {
  font-size: 3.5rem;
}

.keyboardAndSpan span {
  color: var(--purple-color-hard);
  font-size: 1.25rem;
}

.playButton {
  color: var(--purple-color-hard);
  background-color: var(--purple-color-soft);
  border: none;
  padding: 1.5rem;
  border-radius: 100%;
  cursor: pointer;
}

.playButtonDisabled {
  color: var(--purple-color-hard);
  background-color: var(--purple-color-soft);
  border: none;
  padding: 1.5rem;
  border-radius: 100%;
  cursor: pointer;
  opacity: .4;
}

@media screen and (max-width: 399px) {
  .keyboardAndSpan h1 {
    font-size: 2.5rem;
  }

  .keyboardAndSpan span {
    color: var(--purple-color-hard);
    font-size: 1.2rem;
  }

  .playButton {
    color: var(--purple-color-hard);
    background-color: var(--purple-color-soft);
    border: none;
    padding: .8rem .9rem;
    border-radius: 100%;
    cursor: pointer;
    margin-top: 11px;
  }

  .playButtonDisabled {
    color: var(--purple-color-hard);
    background-color: var(--purple-color-soft);
    border: none;
    padding: .8rem;
    border-radius: 100%;
    cursor: pointer;
    opacity: .4;
    margin-top: 11px;
  }
}